body, #sidebar .sidebar-header, .navbar, .intro {
	background-color: #2d2d2d;
	color: #DDD;
}

#sidebar .sidebar-header, .navbar {
	border-color: #333;
}

code, #content pre, .intro-cmd code {
    background-color: #111;
    color: #DEDEDE;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #444;
}

#content article a h2 {
	border: 1px solid #888;
}

.footer-section {
	color: #DDD;
	padding-bottom: 30px;
	background-color: #1D1D1D;
}

.intro h1 {
	color: white;
}
.about-section {
	background-color: #666;
}